.content {
    height: 94.5%;
    width: 100%;
    overflow: auto;
}

.issues-card {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    padding: 0px;
}

.issues-header {
    background-color: rgb(245, 245, 245);
    padding-top: 2.5%;
}

.issue-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: auto;
    height: -webkit-fill-available;
}

.issue-row {
    min-height: 3.75em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: rgba(0,0,0,0.12) solid 0.5px;
}

.label-list {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

mat-basic-chip {
    margin-right: 7px;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    white-space: nowrap;

}